<section class="crc-benefits-section">
	<h2 class="crc-benefits-section-headline">Benefits of CRC PIM</h2>
	<div class="row medium-unstack">
		<div class="columns">
			<img src="../assets/img/icons/Graph.png" class="benefits-icon" alt="Graph Icon">
			<p class="crc-benefits-section-desc">Boost sales, team efficiency and success.</p>
		</div>
		<div class="columns">
			<img src="../assets/img/icons/Headset.png" class="benefits-icon" alt="Headset Icon">
			<p class="crc-benefits-section-desc">Improve customer service and reduce overhead costs.</p>
		</div>
		<div class="columns">
			<img src="../assets/img/icons/Globe.png" class="benefits-icon" alt="Globe Icon">
			<p class="crc-benefits-section-desc">Launch products faster across multiple geographies.</p>
		</div>
		<div class="columns">
			<img src="../assets/img/icons/Users.png" class="benefits-icon" alt="Users Icon">
			<p class="crc-benefits-section-desc">Streamline marketing team efforts.</p>
		</div>
		<div class="columns">
			<img src="../assets/img/icons/Dollar.png" class="benefits-icon" alt="Dollar Icon">
			<p class="crc-benefits-section-desc">No ongoing license fees.</p>
		</div>
	</div>
</section>
