<section class="product-assets-section">
	<h2 class="product-assets-section-headline">Benefits of CRC PIM</h2>
	<p class="product-assets-section-subheadline">Benefits of CRC PIM</p>
	<div class="circular-content">
		<div class="circle-items">
			<div class="circle-item" style="left: 50%; top: 15%;">SOME TEXT</div>
			<div class="circle-item" style="left: 74.7487%; top: 25.2513%;">SOME TEXT</div>
			<div class="circle-item" style="left: 85%; top: 50%;">SOME TEXT</div>
			<div class="circle-item" style="left: 74.7487%; top: 74.7487%;">SOME TEXT</div>
			<div class="circle-item" style="left: 50%; top: 85%;">SOME TEXT</div>
			<div class="circle-item" style="left: 25.2513%; top: 74.7487%;">SOME TEXT</div>
			<div class="circle-item" style="left: 15%; top: 50%;">SOME TEXT</div>
			<div class="circle-item" style="left: 25.2513%; top: 25.2513%;">SOME TEXT</div>
		</div>
		<div class="centered-item"><img src="../assets/img/laptop-crc.png" alt="CRC Laptop"></div>
	</div>
</section>
